<div ng-cloak class="page">
    <md-toolbar class="md-tall md-primary" layout="column" layout-align="space-around center" style="min-height:170px" class="page-header">
        <h1>
            <span class="md-display-3">{{ I.title }}</span>
        </h1>
        <section layout="row" layout-align="center center" layout-wrap>
            <a href="/"><md-button class="md-accent md-raised">Pokedex</md-button></a>
            <a href="/team"><md-button class="md-accent md-raised">Team</md-button></a>
        </section>
    </md-toolbar>

    <div layout="row" layout-wrap class="page-content">
        <div flex="20" style="height: 100%;">
            <searchbar></searchbar>
            <pokemon-list ></pokemon-list>
        </div>
        <pokemon-profile flex="80" style="height: 100%;" layout-padding></pokemon-profile>
    </div>
</div>