<div ng-cloak class="page">
    <md-toolbar class="md-tall md-primary" layout="row" layout-align="center start" style="min-height:200px" class="page-header">
        <h1>
            <span class="md-display-3">{{ I.title }}</span>
        </h1>
    </md-toolbar>

    <div layout="row" layout-wrap class="page-content">
        <pokemon-list flex="20" style="height: 100%;"></pokemon-list>
        <pokemon-profile flex="80" style="height: 100%;"></pokemon-profile>
    </div>
    <commands-box class="page-footer"></commands-box>
</div>