<md-list ng-cloak style="height: 82%;">
    <md-subheader class="md-no-sticky centered">{{ Pl.title }}</md-subheader>

    <md-content scroll-glue style="height: 90%;" ng-if="!Pl.isReady" layout="column" layout-align="center center">
        <img src="/images/pokeball.gif">
    </md-content>

    <md-content scroll-glue style="height: 90%;" ng-if="Pl.isReady">
        <div ng-repeat="pokemon in Pl.pokemons">
            <md-list-item
                ng-click="Pl.showPokemonProfile(pokemon.id)"
                class="disable-text-selection"
                layout-align="center center"
                class="small-list">
                <p class="angular-with-newlines">#{{ pokemon.id | leftpad:3 }} {{ pokemon.name | capitalize }} </p>
            </md-list-item>
            <md-divider></md-divider>
        </div>
    </md-content>
</md-list>