<md-content scroll-glue style="height: 90%;" ng-if="Pp.isLoading" layout="column" layout-align="center center">
    <img src="/images/pokeball.gif">
</md-content>

<md-content scroll-glue style="height: 100%;" ng-if="Pp.isReady" layout="column" layout-align="start stretch">
    <div layout="column" layout-align="center center">
        <h2>
            <span class="md-display-1">#{{Pp.pokemon.id | leftpad:3}} {{ Pp.pokemon.name | capitalize }}</span>
        </h2>
        <div layout="row" style="width: 100%;" layout-align="center center">
            <img src="{{Pp.pokemon.sprites['front_default']}}">
            <md-list>
                <md-list-item>Heigth : {{Pp.pokemon.height / 10}} m</md-list-item>
                <md-list-item>Weight : {{Pp.pokemon.weight / 10}} kg</md-list-item>
                <md-list-item>Type(s) :
                    <span class='type' ng-repeat='type in Pp.pokemon.types' ng-class='type.type.name'>{{type.type.name}}</span>
                </md-list-item>
            </md-list>
            <md-button class="md-accent md-raised" ng-if="!Pp.isPokemonInTeam(Pp.pokemon.id) && !Pp.isTeamFull()" ng-click="Pp.addPokemonToTeam(Pp.pokemon)">Add to Team</md-button>
            <md-button class="md-primary md-raised" ng-if="Pp.isPokemonInTeam(Pp.pokemon.id)" ng-click="Pp.removePokemonFromTeam(Pp.pokemon)">Remove from Team</md-button>
        </div>
        <md-subheader class="md-no-sticky centered" style="width: 40%;">"{{ Pp.pokemon.description }}"</md-subheader>
    </div>
    <div layout="row" layout-align="space-around start" style="height: 50%;">
        <md-list style="width: 20%; height: 90%;">
            <h3>
                <span class="centered md-title">Statistics</span>
            </h3>
            <md-content scroll-glue style="height: 90%;">
                <md-list-item class="disable-text-selection" layout-align="center center" class="small-list" ng-repeat="stat in Pp.pokemon.stats | orderBy:'id':true">
                    <p class="angular-with-newlines">{{stat.stat.name | capitalize}}</span> : {{stat.base_stat}}</p>
                </md-list-item>
            </md-content>
        </md-list>

        <md-list style="width: 20%; height: 90%;">
                <h3>
                    <span class="centered md-title">Moves</span>
                </h3>
            <md-content scroll-glue style="height: 90%;">
                <md-list-item class="disable-text-selection" layout-align="center center" class="small-list"ng-repeat='move in Pp.pokemon.moves'>
                    <p class="angular-with-newlines">{{move.move.name}}</p>
                </md-list-item>
            </md-content>
        </md-list>

        <md-list style="width: 20%; height: 90%;">
            <h3>
                <span class="centered md-title">Abilities</span>
            </h3>
            <md-content scroll-glue style="height: 90%;">
                <md-list-item class="disable-text-selection" layout-align="center center" class="small-list" ng-repeat='ability in Pp.pokemon.abilities'>
                    <p class="angular-with-newlines">{{ability.ability.name}}</p>
                </md-list-item>
            </md-content>
        </md-list>
    </div>
    <div layout="column" layout-align="start center" layout-padding ng-if="Pp.pokemon.evolutions.previouses || Pp.pokemon.evolutions.nexts">
        <h3>
            <span class="centered md-title">Evolutions</span>
        </h3>
        <div layout="row" layout-align="space-around center" style="width: 100%;">
            <div layout="column"
                layout-align="start center"
                ng-repeat='previous in Pp.pokemon.evolutions.previouses'
                ng-click="Pp.showPokemonProfile(previous.id)">
                <md-subheader class="md-no-sticky centered">Previous</md-subheader>
                <p>#{{previous.id | leftpad:3}} {{previous.name | capitalize}}</p>
                <p><img src="{{previous.sprite}}"></p>
            </div>
            <div layout="column"
                layout-align="start center"
                ng-repeat='next in Pp.pokemon.evolutions.nexts'
                ng-click="Pp.showPokemonProfile(next.id)">
                <md-subheader class="md-no-sticky centered">Next</md-subheader>
                <p>#{{next.id | leftpad:3}} {{next.name | capitalize}}</p>
                <p><img src="{{next.sprite}}"></p>
            </div>
        </div>
    </div>
</md-content>
