<md-content scroll-glue style="height: 100%; width: 100%;" layout="column" layout-align="start center" layout-padding>
        <h2>
            <span class="centered md-display-2">My Pokémons</span>
        </h2>
        <div layout="row" layout-align="space-around center" style="width: 100%;">
            <div layout="column" layout-align="start center" ng-repeat='pokemon in T.pokemons'>
                <div ng-click="T.showPokemonProfile(pokemon.id)">
                    <p>#{{pokemon.id | leftpad:3}} {{pokemon.name | capitalize}}</p>
                    <p><img src="{{pokemon.sprites['front_default']}}"></p>
                </div>
                <md-button class="md-primary md-raised" ng-click="T.removePokemonFromTeam(pokemon)">Remove from Team</md-button>
            </div>
        </div>
    </div>
</md-content>
